*
!awesome/
!awesome/*
!awesome/*/**
!kitty/
!kitty/**
!fish/
!fish/*
!starship.toml
!rofi/
!rofi/*
!nvim/
!nvim/**
!nixos/
!nixos/*
!nixos/modules/
!nixos/modules/*
!home-manager/
!home-manager/*
!home-manager/**/
!home-manager/**/*
!flake.nix
flake.lock
lazy-lock.json
