*
!awesome/
!awesome/*
!awesome/*/**
!kitty/
!kitty/**
!fish/
!fish/*
!starship.toml
!rofi/
!rofi/*
!nvim/
!nvim/**
!pacmanPackages.txt
!yayPackages.txt
!setup.sh
!nixos/
!nixos/*
!nixos/modules/
!nixos/modules/*
!home-manager/
!home-manager/*
!flake.nix
!flake.lock
