* {
    border: none;
    font-size: 16px;
    min-height: 30px;
    font-family: "Pixel Code";
}

window#waybar {
    background: transparent;
    color: #d3c6aa;
}

#workspaces {
    border-radius: 0;
    background-color: #272e33;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #a7c080;
    border-width: 5px;
    border-style: solid;
}

#window {
    border-radius: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #272e33;
    border-color: #a7c080;
    border-width: 5px;
    border-style: solid;
}

#window.empty {
    background-color: transparent;
    border: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
}

#workspaces button {
    background: #272e33;
    color: #d3c6aa;
}

#workspaces button.active {
    font-weight: bold;
    color: #a7c080;
}

#clock,
#backlight,
#temperature,
#cpu,
#pulseaudio,
#network,
#battery,
#tray,
#custom-wttrbar,
#memory {
    border-radius: 0;
    background-color: #272e33;
    color: #d3c6aa;
    margin-top: 20px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 20px;
    border-color: #a7c080;
    border-width: 5px;
    border-style: solid;
}

@keyframes blink {
    to {
        background-color: #e67e80;
        color: #272e33;
    }
}

#battery.warning:not(.charging) {
    background: #e67e80;
    color: #272e33;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}
